.side-nav {
  height: 100%;
  background: #343a40;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.side-nav.open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.side-nav-links {
  list-style: none;
  margin-top: 25px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.logo-toggle:hover {
  animation: bounce 1s;
}

.side-nav-links {
  padding-inline-start: 0px;
}

.side-nav-links .nav-link {
  color: white;
}

.side-nav-links .nav-item {
  margin-top: 15px;
}

.side-nav-links .nav-item:hover {
  background-color: #454c53;
  border-left: solid #138496 4px;
}

.side-nav-links .nav-link:hover {
  color: #138496;
}
